.Background {
    position: fixed;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    z-index: -1;
    justify-content: center;
    gap: 22.5vw;
}

.Background span {
    width: 30vw;
    height: 30vw;
    background-image: url(../img/d20.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: anima_d20 linear infinite;
    animation-duration: calc(300s / var(--i));
    animation-delay: var(--d);
}

@keyframes anima_d20 {
    0% {
        transform: translateY(100vh) rotate(0deg);
    }
    100% {
        transform: translateY(-55vh) rotate(300deg);
    }
}