.camp_inst{
    width: 35vw;
    text-align: center;
}

.camp_inst p {
    margin: 5px;
}

.camp_inst p.margin {
    margin-bottom: 2.5vw;
}

.camp_inst img {
    background-color: hsl(0, 0%, 100%);
    width: 17.5vw;
    height: 17.5vw;
    margin-right: 15px;
    border-radius: 2.5vw;
    transition: 0.3s;
    cursor: pointer;
    margin: 0px;
    object-fit: cover;
}

.camp_inst img:hover {
    box-shadow: rgba(113, 113, 155, 0.5) 0px 7px 29px 0px;
}