.fixed-top {
    position: fixed;
    background-color: white;
    text-align: center;
    align-content: end;
    width: 100vw;
    height: 4vw;
    min-height: 48px;
}

.fixed-top img {
    min-width: 33px;
    width: 3.2vw;
    height: auto;
    margin-top: 5px;
}

.menu-list {
    position: fixed;
    align-content: center;
    margin-top: 50px;
    width: 50px;
    height: 93%;
}

.menu-list li {
    margin-left: -25px;
    margin-bottom: 30px;
    width: 20px;
    height: 20px;
    list-style-type: none;
}

.menu-list li circle{
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .menu-list {
        display: none;
    }
    
    .fixed-top {
        width: 100vw;
    }
}