:root {
    --time: 0.4s
}

.wave {
    right: 0px;
    width: 100vw;
    height: 27.4vw;
}

.wave img.arm {
    position: absolute;
    right: 0px;
    width: 7vw;
    animation: move_hand var(--time) linear infinite;
}

.wave img.body {
    position: absolute;
    right: 0px;
    margin-right: -2.2%;
    margin-top: 14.8%;
    width: 15vw;
}

.wave img.face {
    position: absolute;
    right: 0px;
    width: 18vw;
    animation: move_face var(--time) infinite;
}

@keyframes move_face {
    0% {
        transform: rotate(-10deg);
        margin-right: -3%;
    }
    50% {
        transform: rotate(10deg);
        margin-right: -4.5%;
    }
    100% {
        transform: rotate(-10deg);
        margin-right: -3%;
    }
}

@keyframes move_hand {
    0% {
        transform: rotate(-20deg);
        margin-right: 10%;
        margin-top: 15.5%;
    }
    50% {
        transform: rotate(0deg);
        margin-right: 9.5%;
        margin-top: 14%;
    }
    100% {
        transform: rotate(-20deg);
        margin-right: 10%;
        margin-top: 15.5%;
    }
}