.git{
    border-radius: 1.5vw;
    background-color: var(--ColorImage);
    width: 29vw;
    height: 22vw;
    transition: 0.3s;
    cursor: pointer;
}

.git:hover {
    box-shadow: rgba(0, 255, 0) 0px 7px 29px 0px;
}

.git img {
    border-radius: 1.5vw 1.5vw 0vw 0vw;
    width: 100%;
    border-bottom: 2px solid var(--ColorTextSecond);
    object-fit: cover;
}

.git p {
    color: var(--ColorTextSecond);
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.git p:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .git{
        width: 45vw;
        height: 35vw;
        font-size: 3vw;
    }
}