@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.jersey-text {
    font-family: "Jersey 25", sans-serif;
    margin: 1vw;
}

div.menu {
    position: absolute;
    z-index: 1;
}

div.camp {
    width: calc(100% - 50px);
    margin-left: 50px;
    z-index: 0;
}

div.camp p.camp.text {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    color: var(--ColorText);
}

div#main {
    height: 100vh;
    align-items: center;
    display: flex;
}

div#main img {
    margin-top: 25px;
    margin-left: 25px;
    width: 40vw;
    height: auto;
}

div#main .info {
    margin-top: 25px;
    position: absolute;
    right: 0px;
    align-content: center;
    justify-items: center;
}

div#main #cargo {
    color: #00ff00;
    -webkit-text-stroke: 0.1px var(--ColorText);
    font-size: 5vw;
    letter-spacing: 0.2vw;
    margin-top: 1.7vw;
    margin-bottom: 2vw;
    text-shadow: 
        0.5px 5px 0px #004400,
        -0.5px 5px 0px #004400;
}

div#traineng div.content {
    align-items: center;
    display: flex;
    gap: 10px;
    color: var(--ColorText);
}

div#traineng img {
    width: 40vw;
    height: 30vw;
    object-fit: cover;
}

div#traineng .reviews {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

div#courses .list{
    width: 100%;
    justify-items: center;
}

div#courses .text_and_anim{
    display: flex;
}

div#courses .text_and_anim p {
    align-content: center;
    color: var(--ColorText);
}

div#projects .list{
    display: flex;
}

div#projects .list.inst{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9vw;
    row-gap: 4vw;
}

div#projects .list.github{
    width: 100%;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
}

div#contact .list.contact {
    display: flex;
}

div#contact .list.contact .camp {
    width: 50%;
    margin: 0px;
}

div#contact .list.contact hr {
    margin: 0px;
}

@media screen and (max-width: 750px) {
    div.camp {
        width: 100%;
        margin-left: 0px;
    }
    
    div.camp p.camp.text {
        margin-left: 2vw;
        margin-right: 2vw;
        font-size: 3.5vw;
    }

    div#main {
        align-content: center;
        display: block;
    }
    
    div#main img {
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        height: 75vw;
        object-fit: contain;
    }
    
    div#main .info {
        margin-top: 50px;
        position: relative;
    }
    
    div#main #cargo {
        text-align: center;
        font-size: 15vw;
        letter-spacing: 1.5vw;
        margin-top: 2vw;
        margin-bottom: 4vw;
    }

    div#traineng div.content {
        display: block;
    }

    div#traineng ul{
        font-size: 3.5vw;
        margin-bottom: 5vw;
    }
    
    div#traineng img {
        width: 100vw;
        height: 50vw;
        object-fit: cover;
    }
    
    div#traineng .reviews {
        margin-top: 5vw;
        margin-bottom: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }

    div#courses .text_and_anim{
        display: block;
    }

    div#projects .list.inst{
        justify-items: center;
        display: block;
    }

    div#projects .list.github{
        width: 100%;
        gap: 4vw;
        row-gap: 5vw;
    }

    div#contact .list.contact {
        display: block;
    }

    div#contact .list.contact .camp {
        width: 100%;
    }

    div#contact hr {
        display: none;
    }
}