@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {
  margin-top: 0px;
  margin-left: 0px;
  margin: 0px;
  background-color: #0a0a0a;
  overflow-x: hidden;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: justify;
  font-family: "Aldrich", sans-serif;
  font-size: 2vw;
}