@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

/* :root {
  --BackGroundColor: #f2f2f2;
  --ColorText: #000000;
  --ImgBackGround: url(./components/img/d20.png);
  --ColorImage: hsl(0, 0%, 5%);
  --ColorTextSecond: #ffffff;
} */

:root {
  --BackGroundColor: #0d0d0d;
  --ColorText: #ffffff;
  --ImgBackGround: url(./components/img/d20.png);
  --ColorImage: #E9E9E9;
  --ColorTextSecond: #000000;
}

body[data-theme="darkMode"] {
  --BackGroundColor: #0d0d0d;
  --ColorText: #ffffff;
  --ImgBackGround: url(./components/img/d20.png);
  --ColorImage: #E9E9E9;
  --ColorTextSecond: #000000;
}

body[data-theme="lightMode"] {
  --BackGroundColor: #f2f2f2;
  --ColorText: #000000;
  --ImgBackGround: url(./components/img/d20.png);
  --ColorImage: hsl(0, 0%, 5%);
  --ColorTextSecond: #ffffff;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin: 0px;
  background-color: var(--BackGroundColor);
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--ColorText);
  font-weight: bolder;
  text-transform: uppercase;
  text-align: justify;
  font-family: "Aldrich", sans-serif;
  font-size: 2vw;
}

body::-webkit-scrollbar {
  display: none;
}